TOKEN=
# Notion 书籍页面 Token、Database ID
# Example Page ID
# BOOK_DATABASE_ID=
BOOK_DATABASE_ID=

# Notion 影视页面 Token、Database ID
#VIDEO_DATABASE_ID=
VIDEO_DATABASE_ID=8996fb1742e94fd2879796a37680d011

# 网页数据
COOKIE=''
ACCEPT=''
USER_AGENT=''

# 页面图标
BOOK_ICON=https://notion-emojis.s3-us-west-2.amazonaws.com/prod/svg-twitter/1f4d8.svg
VIDEO_ICON=https://notion-emojis.s3-us-west-2.amazonaws.com/prod/svg-twitter/1f3ac.svg

# 默认类型
# book 或 movie
CLASSIFY=book
STAR=⭐️⭐️⭐️⭐️⭐️
STATUS=读完|已看
COMMENT=不发布
MARK=尚未整理
CATEGORY=电子书

# 豆瓣账号
DOUBANID=

OPENAI_API_KEY=""